/* Estilização do cabeçalho */

.cabecalho{
    background-color: #104183;
}

    .cabecalho__container{
        align-items: center;
        display: flex;
        height: 5rem;
        justify-content: space-between;
    }

    .cabecalho__imagens{
        display: flex;
        gap: 1rem;
    }

    .cabecalho__botao-sair{
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        transition: 0s;
    }

        .cabecalho__botao-sair:hover{
            font-weight: 700;
        }

/* RESPONSIVIDADE */

@media screen and (max-width: 425px){
    .cabecalho__botao-sair{
        border: none;
        padding: 0;
    }
}