.formulario{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    width: 100%;
}

    .formulario-grupo{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .campo-label{
        font-size: 1rem;
        font-weight: 500;
    }

    .campo-texto{
        border: 1px solid #C1C1c1;
        border-radius: 0.25rem;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        height: 2.5rem;
        padding: 0.1rem 0.5rem;
        transition: .5s;
    }

    .campo-pequeno{
        width: 176px;
    }

    .campo-grande{
        width: 332px;
    }

    .campo-texto:focus, .campo-texto:hover{
        border-color: #104183;
        outline: 0;
    }

    /* .campo-arquivo{
        align-items: center;
        background-color: #ffffff;
        border-radius: 8px;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        gap: .5rem;
        padding: 1rem 1.5rem;
        width: fit-content;
    } 

    .campo-arquivo img{
        aspect-ratio: 1;
        width: 16px;
    }

    input[type="file"]{
        display: none;
    } */

    input[type="file"]{
        background-color: #ffffff;
        border-radius: 8px;
        box-sizing: border-box;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        padding: .5rem 1rem;
        width: fit-content;
    }

@media screen and (max-width: 530px){
    input[type="file"], .campo-texto{
        width: 100%;
    }
}