body{
    display: flex;
    height: 100vh;
}

.container-titulo{
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../img/fundo-login.jpg");
    background-size: cover;
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
}

    .container-titulo > div{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .titulo{
        color: var(--texto-branco);
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
    }

    .titulo-linha{
        height: 4px;
        background-image: linear-gradient(90deg, #FFFF00 0%, #54AD33 50.96%, #FFFF00 100%);
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
        width: 100%;
    }

.container-login{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.5rem 2.5rem;
    width: 30%;

}

    .logo-see{
        height: auto;
        width: 75%;
    }

    .container-botoes{
        justify-content: center;
    }

    .container-logos{
        align-items: center;
        display: flex;
        gap: 1rem;

    }

        .brasao{
            height: auto;  
            width: 64px; 
        }

        .logo-detei{
            height: auto;
            width: 104px;
        }


/* RESPONSIVIDADE */
@media screen and (max-width: 1100px) {
    .container-titulo{
        padding: 2rem;
    }

    .titulo{
        font-size: 2rem;
    }
}

@media screen and (max-width: 750px) {
    .container-titulo{
        display: none;
    }

    .container-login{
        width: 100%;
        padding: 2.5rem 1.5rem;
    }
}