body{
    display: flex;
    height: 100vh;
}

.container-titulo{
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../img/fundo-login.jpg");
    background-size: cover;
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
}

    .titulo{
        color: var(--texto-branco);
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        text-shadow: var(--sombra-padrao);
    }

.container-login{
    width: 400px;
}