body{
    display: flex;
    height: 100vh;
}

.container-titulo{
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../img/fundo-login.jpg");
    background-size: cover;
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
}

    .titulo{
        color: var(--texto-branco);
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        text-shadow: var(--sombra-padrao);
    }

.container-login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.5rem 2.5rem;
    width: 30%;

}

    .logo-see{
        height: auto;
        width: 100%;
    }

    .brasao{
        height: auto;  
        width: 48px; 
    }

    .logo-detei{
        height: auto;
        width: 80px;
    }