/* Estilização da página de solicitação */

.solicitacao__status{
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    width: fit-content;
}

.solicitacao__status img{
    max-height: 1.5rem;
    width: auto;
}